.albis-docinfo {
  margin-top: 20px;

  td {
    font-size: 14px;
    font-weight: bold;
  }
}

.albis-doctitle {
  font-size: 24px;
}

.albis-docdisclaimer {
  margin-top: 50px;
  font-size: 12px;
  font-weight: bolder;
}
